.header {
  border-bottom: 1px solid #b1b7c4;

  figure {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;

    }
  }

  .icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #f6f7fa;
    cursor: pointer;
  }
}