<div class="d-flex justify-content-between py-2 mx-5 mb-5 header">
  <h1>Logo</h1>
  <div>
    <ul class="nav d-flex align-items-center">
      <li class="nav-item me-3">
        <a class="nav-link text-secondary icon d-flex justify-content-center"><span class="fa-solid fa-gear"></span></a>
      </li>
      <li class="nav-item me-3">
        <a class="nav-link text-secondary icon d-flex justify-content-center"><span class="fa-solid fa-bell"></span></a>
      </li>
      <li class="nav-item d-flex align-items-center">
        <figure class="mb-0">
          <img src="../../../assets/images/avatar-michelle.jpg" alt="">
        </figure>
        <h6 class="mb-0 ms-2">llya Sivakov</h6>
        <div>
          <span class="fas fa-duotone fa-chevron-down text-secondary ms-2"></span>
        </div>
      </li>
    </ul>
  </div>
</div>